<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sarva Swasth</title>
</head>
<body>
  <h1>This is Our Home Page </h1>  
  <form method="GET" action="/swasth/new">
    <button>Book your appointment</button>
  </form>

  <!-- idher apn ko front end ka code likhna h jo ki Home page k ahoga  -->
</body>
</html>